/* Stylesheet for Mobile App */

/* reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
}

body
{
    /*
    background-color: darksalmon;
    */
    
}

div#container /* the # references the id.  Which is container */
{
    width:100%;
    border:3px dotted forestgreen;
    background-color:fuchsia;
}

header
{
    /* width:100%; */
    padding:50px;
    background-color:chartreuse;
    text-align: center;
}

header img
{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

header h1 /* only styles the h1 within a header */
{
    color:firebrick;
    font-family: 'Tahoma',monospace;
    font-size: 40px;
}

div#content
{
    width:100%;
    background-color:darkcyan;
}

.icon-bar {
  position:absolute;
  bottom:0;
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #ffa20e;
}



nav
{
    background-color:dodgerblue;
    color:darkred;
    font-family:'Permanent Marker';
    font-size: 30px;
}

nav ul
{
    list-style: none;
}

nav ul li a
{
    float: left;
    display: block;
    padding: 5px 15px;
    border-right: 2px solid #fff;
    color:black;
    text-decoration: none;
}

nav ul li a:hover
{
    background-color:aliceblue;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height:50px;
    background-color:aqua;
}

div.keepOpen
{
    clear: both;
}

@media screen and (max-width: 600px)
{
    div#container
    {
        width: 100%;
    }
    
    nav ul li a
    {
        float: none;
        text-align: center;
    }
}

nav ul li a img#neboLogo
{
    width: 68px;
    height: 50px;
    margin: auto;
}